<a href="https://colab.research.google.com/github/GoldKodo/aiphython/blob/main/20240419.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.
#첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다.

N = int(input())
numbers = list(map(int, input().split()))      #map은 문자열을 숫자열로 만들고, 함수 안의 맨 앞에 오는 int는 그 리스트들을 정수를 만들어줌. 여기서 int 대신 float면 실수가 나옴. .split은 () 안의 구분자를 기준으로 나누어 리스트로 변환시키는 역할

min_num = min(numbers)
max_num = max(numbers)

#첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.
print(min_num)
print(max_num)

In [ ]:
#A,B,C를 입력받고 그 중에서 두번쨰로 큰 정수를 구하시오
#첫째 줄에 세 정수 A, B, C가 공백으로 구분되어 주어진다

A,B,C = map(int, input().split())

secbig = []
secbig.append(A)
secbig.append(B)
secbig.append(C)

sort_sb = sorted(secbig)      #sorted 는 내림차순으로 정리해주는 함수
sec_big = sort_sb[1]          #sorted 된 리스트에서의 서순을 입력해주면 몇번째로 큰 함수인지 알 수 있다
print(sec_big)

In [17]:
txt = "apple#banana#cherry#orange"
txtsplit = txt.split("#")
print(txtsplit)

['apple', 'banana', 'cherry', 'orange']

In [26]:
txt = ['Python', 'Java', 'Ruby']
B = "->".join(txt)
print(B)

Python->Java->Ruby

In [30]:
# 0부터 9 중에 짝수에 해당하는 리스트를 작성하는 것
number_list = [ x for x in range(10) if x % 2 == 0]
print(number_list)

[0, 2, 4, 6, 8]

In [50]:
# S로 시작하는 도시명으로 리스트를 생성
cities =  ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
new_list = [city for city in cities if city.startswith('S')]
print(new_list)

['Seoul', 'Shanghai']

In [55]:
#이름 없는 함수를 정의할 때 lambda 사용
#double = lambda x: x*2
#print(double(5)) 하면 10 이 나오겠지

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

A = list(filter(lambda x: x%2 == 0, numbers))   #filter(조건, 리스트) 하면 리스트에서 조건에 맞는 애들을 걸러서 뽑아낼 수 있음
print(A)    #리스트에서 받아서 리스트로 뽑아내야 하니까 a를 리스트로 만들어야 해서 list함수 사용, 이후 filter(x,y) 로 조건 만들어서 거름

[2, 4, 6, 8, 10]

In [57]:
#enumarate 사용

A = ['Python', 'Java', 'JavaScript']
for idx, name in enumerate(A):
  print(idx, name)

0 Python
1 Java
2 JavaScript

In [64]:
A = ['Python', 'Java', 'JavaScript']
B = [(idx, name) for idx, name in enumerate(A,1)]   # B = [] 대괄호로 묶어서 리스트로 만들고, 리스트 안에서 어떻게 나타낼지를 (idx, name) 으로 묶은다음 이를 변수로 지정하고 enumrate 사용해서 A에서 뽑아냄
print(B)

[(1, 'Python'), (2, 'Java'), (3, 'JavaScript')]

In [78]:
# 학생들의 성적이 숫자 리스트로 표현되어 있고, 이를 등급(A, B, C, D, F)으로 변환
scores = [88, 92, 78, 60, 75, 95]

def convert_to_grade(score):
  if score >= 90:
    return 'A'
  elif score >= 80:
    return 'B'
  elif score >= 70:
    return 'C'
  elif score >= 60:
    return 'D'
  else:
    return 'F'

grades = map(convert_to_grade, scores)   # map(적용할 함수, 받아올 리스트)
print(list(grades))      #리스트를 받았으니 리스트로 치환해서 출력해야함

['B', 'A', 'C', 'D', 'C', 'A']

In [80]:
#나이 리스트 중에서 18세 이상 나이만 추출

ages = [5, 12, 17, 18, 24, 32]

A = list(filter(lambda x: x>=18, ages))
print(A)

[18, 24, 32]