<a href="https://colab.research.google.com/github/GoldKodo/aiphython/blob/main/20240510.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
data = [[1, 'Alice'], [2, 'Bob'], [3, 'Charlie']]  # Fixed the quote in 'Charlie'
df = pd.DataFrame(data, columns=['ID', 'Name'])  # 열에 이름 넣는 법
print(df)

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv', encoding='UTF-8')
df

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df = pd.read_csv(url, delimiter='\t')
df

In [ ]:
import pandas as pd
# 예제 데이터프레임 생성
df = pd.DataFrame({
'A': [1, 2, 3, 4, 5],
'B': [6, 7, 8, 9, 10]
})
# 'A' 열에서 값이 3보다 큰지 확인
condition_result = df['A'] > 3
# 출력
print(condition_result)

In [ ]:
import pandas as pd

df= pd.read_excel('data.xlsx')
df반이름 = df[['반','이름']]   #묶어서 쓰는 법

#국어점수가 80점 이상인 데이터프레임 만들기

condition_result = df[df['국어'] >= 80]
print(condition_result)

#국어점수가 높은사람부터 표현해보자

df.sort_values(by=['국어'], ascending = False,inplace = True)

#남자여자수
df['성별'].value_counts()

#개별 칼럼 통계값 ==  데이터프레임명[‘칼럼 이름‘].통계함수명( )
#국어의 평균값
df['국어'].mean()

#그룹별 통계값 ==  데이터프레임명.groupby(‘칼럼명‘).통계함수명( )

In [ ]:
#결측지 처리
#(1) 데이터프레임에서 결측치 확인
#• 데이터프레임명.isna( ) : 칼럼의 값이 없으면 True, 값이 있으면 False로 출력
#• 데이터프레임명.isna( ).sum( ) : 각 칼럼별 결측치의 개수 집계

#(2) 데이터프레임에서 결측치에 값 채우기
#• 데이터프레임명.fillna(채울값, inplace=True/False )
#• 데이터프레임명.fillna({‘칼럼명’:’채울값’ }, inplace=True/False ) : 칼럼에 있는 결측치를 다른 값으로 채운다.

#(3) 데이터프레임에서 결측치가 있는 데이터 삭제
#• 데이터프레임명.dropna(axis=0/1, subset=[‘칼럼명’], inplace=True/False ) : axis=0이면 결측치가 있는 행을, axis=1이면 결측치가 있는 칼럼을 삭제한다.
# subset으로 특정 칼럼을 지정하면 지정한 칼럼에 결측치가 있는 데이터를 삭제한다.
# 하나의 칼럼의 결측치가 있는 행을 날리기
df2 = df.dropna(subset=['Col1'])
# 데이터프레임에서 결측치가 있는 행을 다날리기
df3 = df.dropna()

In [ ]:
#데이터프레임 변경
#(1) 데이터프레임의 칼럼을 이용하여 새 칼럼 추가

import pandas as pd

df= pd.read_excel('data.xlsx')
df['총점'] = df['국어']+df['수학']

#(2) 데이터프레임의 행/칼럼 삭제
#• 데이터프레임명.drop(인덱스값/칼럼명, axis=0/1, inplace=False/True ): 인덱스값으로 지정한 행(레코드)/칼럼명으로 지정한 칼럼을 데이터프레임에서 삭제
df.drop(index = 1, axis= 0, inplace=True)
df.drop(columns = 'Column1', axis=1)

In [87]:
#실습

#1. 데이터를 이용하여 데이터프레임 생성
df = pd.DataFrame({'학생': ["John", "Alice", "Bob", "Emily"], '수학': [90, 87, 78, 92], '영어': [85, 91, 80, 88], '과학': [88, 89, 85, 82]})

#2. 생성한 데이터프레임의 요약 통계 정보 출력
df.describe()

#3. 생성한 데이터프레임에서 '수학'점수가 가장 높은 학생의 정보 출력
df수학고수 = df[df['수학']==df['수학'].max()]
print(df수학고수)

#4. 생성한 데이터프레임에서 '수학'점수가 90점 이상인 학생의 정보 출력
df수학90 = df[df['수학']>=90]
print(df수학90)

      학생  수학  영어  과학
3  Emily  92  88  82
      학생  수학  영어  과학
0   John  90  85  88
3  Emily  92  88  82

In [111]:
#박스오피스 파일을 데이터프레임으로 생성하기
import pandas as pd

df = pd.read_excel('BoxOffice.xlsx')

#1.데이터프레임을 생성한 후 데이터프레임의 정보 출력
df.info()

#2. 대표국적별 영화 편수 집계
df영화편수 = df['대표국적'].value_counts()
print(df영화편수)

#3. 대표국적이 '영국'인 데이터를 출력하시오
df영국 = df[df['대표국적'] == '영국']
print(df영국)

#4.대표국적별 최상위 순위를 출력하시오.
df최상위 = df.groupby('대표국적')['순위'].min()
print(df최상위)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      200 non-null    int64
 1   영화명     200 non-null    object
 2   개봉일     200 non-null    datetime64[ns]
 3   매출액     200 non-null    int64
 4   관객수     200 non-null    int64
 5   스크린수    200 non-null    int64
 6   상영횟수    200 non-null    int64
 7   대표국적    200 non-null    object
 8   국적      200 non-null    object
 9   배급사     200 non-null    object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 15.8+ KB
대표국적
한국    116
미국     82
일본      1
영국      1
Name: count, dtype: int64
      순위     영화명        개봉일          매출액      관객수  스크린수   상영횟수 대표국적  국적  \
194  195  어바웃 타임 2013-12-05  25312684300  3449451   568  67267   영국  영국

                     배급사
194  유니버설픽쳐스인터내셔널 코리아(유)
대표국적
미국      5
영국    195
일본    172
한국      1
Name: 순위, dtype: int64