<a href="https://colab.research.google.com/github/GoldKodo/aiphython/blob/main/20240418.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
x=[20]
print(x)
x.append(30)
print(x)
x.insert(0,10)
print(x)
x.extend([40,50])
print(x)

y=[1,2]
z=x+y
print(z)

[20]
[20, 30]
[10, 20, 30]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 1, 2]

In [11]:
x=[10,20,30,40]

x.remove(10)
print(x)

x.pop(2)
print(x)

x.clear()
print(x)

[20, 30, 40]
[20, 30]
[]

In [25]:
x=[20,20,30,10,10]

print(x.index(20))

print(x.count(30))

개설과목 = ['컴퓨터','파이썬','인공지능']

if '파이썬' in 개설과목:
  print('파이썬 과목이 개설 되었습니다.')

for 과목 in 개설과목:
  print(과목)

0
1
파이썬 과목이 개설 되었습니다.
컴퓨터
파이썬
인공지능

In [31]:
a = [10,20,30]

print("최솟값:", min(a))
print("최댓값:", max(a))
print("합 계:", sum(a))
print("길이(개수):", len(a))

최솟값: 10
최댓값: 30
합 계: 60
길이(개수): 3

In [44]:
a = ['10', '20', '30']

a = map(int, a)
print(sum(a))
print(a)

a= ['10','20','30']
a= list(map(int,a))
print(a)
print(sum(a))

60
<map object at 0x783d73287580>
[10, 20, 30]
60

In [48]:
[x * x for x in range(5)]

[0, 1, 4, 9, 16]

In [50]:
[x for x in range(10) if x % 2 == 0 ]

[0, 2, 4, 6, 8]

In [51]:
[(x,y) for x in [1,2,3] for y in [3,1,4]]

[(1, 3), (1, 1), (1, 4), (2, 3), (2, 1), (2, 4), (3, 3), (3, 1), (3, 4)]

In [60]:
score= [[29, 28, 27, 30],
        [30, 20, 27, 29],
        [23, 25, 29, 30]]

print(score)

[[29, 28, 27, 30], [30, 20, 27, 29], [23, 25, 29, 30]]

In [59]:
score= [[29, 28, 27, 30],
        [30, 20, 27, 29],
        [23, 25, 29, 30]]

for sc in score:
  print(sc)

[29, 28, 27, 30]
[30, 20, 27, 29]
[23, 25, 29, 30]

In [64]:
score= [[29, 28, 27, 30],
        [30, 20, 27, 29],
        [23, 25, 29, 30]]

for r in range(3):
  for c in range(4):
    print(score[r][c], end= " ")
  print()

29 28 27 30
30 20 27 29
23 25 29 30

In [66]:
score= [[29, 28, 27, 30],
        [30, 20, 27, 29],
        [23, 25, 29, 30]]

for sc in score:
  for c in sc:
    print(c, end= " ")
  print()

29 28 27 30
30 20 27 29
23 25 29 30

In [68]:
score= [[29, 28, 27, 30],
        [30, 20, 27, 29],
        [23, 25, 29, 30]]

for c1,c2,c3,c4 in score:
  print(c1, c3, c2, c4)

29 27 28 30
30 27 20 29
23 29 25 30

In [72]:
days_of_week = ("mon","tue","wed","thur","fri","sat","sun")

print(days_of_week[0])
print(days_of_week)
days_of_week[0] = '월요일'

mon
('mon', 'tue', 'wed', 'thur', 'fri', 'sat', 'sun')

TypeError: 'tuple' object does not support item assignment

In [79]:
emails = {"alice": "alice@example.com", "bob": "bob@example.com", "tom": "tom@example.com"}
print(emails["alice"])

for n in emails :
  print(n)

  for n in emails :
    print(n, emails[n])

alice@example.com
alice
alice alice@example.com
bob bob@example.com
tom tom@example.com
bob
alice alice@example.com
bob bob@example.com
tom tom@example.com
tom
alice alice@example.com
bob bob@example.com
tom tom@example.com

In [125]:
score = []
while True:
    a = input("학생의 점수를 입력하세요. ")
    if a.isdigit():
        score.append(int(a))
    else:
        print("입력 데이터 출력 :",  score)
        break
total_sc = sum(score)
total_stu = len(score)
aversc = total_sc / total_stu

print("합계 :  ", total_sc)
print("인원수 :  ", total_stu)
print("평균 :  ", aversc)1

학생의 점수를 입력하세요. 50
학생의 점수를 입력하세요. 20
학생의 점수를 입력하세요. 40
학생의 점수를 입력하세요. 10
학생의 점수를 입력하세요. ㅌ
입력 데이터 출력 : [50, 20, 40, 10]
합계 :   120
인원수 :   4
평균 :   30.0