<a href="https://colab.research.google.com/github/GoldKodo/aiphython/blob/main/240405.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
a=10
if a>5:
  print("A는 5보다 크다")
  print("프로그램종료")

A는 5보다 크다
프로그램종료

In [30]:
a=5
if a>5:
  print("a는 5보다 크다")
elif a<5:
  print("a는 5보다 작습니다")
else:
  print("a는 5다")

a는 5다

###a에 할당된 값의 짝수 홀수 여부를 알려주는 프로그램

In [29]:
a=2
if a%2==0:
  print("a는 짝수입니다")
elif a%2!=0:
  print("a는 홀수입니다")

a는 짝수입니다

# 중첩조건문은 둘중 하나 선택할 수 있음

In [36]:
a=
b=5

if a>5:
  if b<10:
    print("a는 5보다 크고 b는 10보다 작습니다")

a는 5보다 크고 b는 10보다 작습니다

In [37]:
a=10
b=5
if a>5 and b<10:
  print("a는 5보다 크고 b는 10보다 작다")

a는 5보다 크고 b는 10보다 작다

0 ~ 100점 입력받아서
90점 이상 A
80점 이상 B
70점 이상 C
60점 이상 D
그 외 F
프로그램 만드시오

In [60]:
# 이런 조건문에선 순서가 중요함. 순서가 70 그다음 80 이런식이면 70에서 참이 되서 85여도 C가 나옴

a=int(input("점수를 입력하세요  "))

if a>100:
  print("정확한 점수를 입력하세요")
elif a>= 90:
  print("A입니다")
elif a>= 80:
  print("B입니다")
elif a>= 70:
  print("C입니다")
elif a>= 60:
  print("D입니다")
elif a<0:
  print("정확한 점수를 입력하세요")
else:
  print("F입니다")

점수를 입력하세요  51
F입니다

In [79]:
a = [1,2,3,4,5]
for i in a:
  print(i,end=',') #i뒤에 end=''가 붙음으로써 밑으로 내려가는게 아니라 옆으로 들어가는 리스트가 됨

1,2,3,4,5,

In [70]:
# 반복문에 나오는 숫자를 전부 더해보는거 tot라는 변수를 하나 지정한 다음 변수에 += 지정으로 모두 더하게 한다음 프린트
a = [1,2,3,4,5]
tot=0
for i in a:
  print(i)
  tot+=i
print(tot)

1
2
3
4
5
15

In [81]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [89]:
for i in range(2,101,2,):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [94]:
# 반복문에서 사용하는 continue / break [ if 사용시 조건에 맞을때 다시 올라가서 수식 진행하는 continue, 나가버리는 break]

for i in range(101):
  if i%2 == 0:
    continue   #짝수면 CONTINUE 라니까 짝수일 때 i에 프린트 안되고 올라가서 다시 수식을 진행함 나머지를 1로 바꾸면 홀수일때 컨티뉴라 짝수만 나올것임
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [101]:
for i in range(5):
  if i%2 == 1:
    break
  print(i)

0

In [112]:
od=0
ev=0
for i in range(1,11):
  if i%2==0:
    ev+=i
  else:
    od+=i
print(od)
print(ev)

25
30

In [123]:
n<=10000 and n>= 1
n=int(input("숫자를 입력하시오"))+1
a=0
for i in range(n):
  a+=i
print(a)

숫자를 입력하시오10
55